{%extends "layout.html"%}

{%block title%}
{{name}}
{%endblock%}

{%block body%}
<div class="container row">
<div class="chat-room col-xs-5 col-sm-3 col-lg-3 ">
<div class="first-row">
<div id="top">
<h4>{{name}}</h4>
</div> 

<div id="middle">
    <ul>
        <li>People <a href=""><span>+</span> add</a></li>
        <li>Files</li>
        

    </ul>
</div>
<div id="bottom">
    <ul id="bt-list">
        <li><i id="triangle" class="fas fa-triangle"></i></li>

        <li>channels</li>
        
        <li id="modal-button"><button><i class="fas fa-plus"></i></button></li>
       
    </ul>
    
<ul id="channel-list"></ul>
   
 
</div>
    </div>
</div>



<div id="chat" class="chat-room col-xs-7 col-sm-9 col-lg-9">
    <div id="chat-tag">

        
    </div>
    <div id="message-container">
         

    </div>
    
   
   
   
     <input type="text" id="message-input" placeholder="type your message here" >  
     <button type="button" id="send-button"> send</button>   
</div>

</div>

<div class="modal-bg">
    <div class="modal-child">
        <button >Browse Channel</button>
        <button id="create-channel">create a channel</button>
    </div>
    </div>  

  <div class="channel-overlay channel-active">  
<div class="container channel-modal">
    <div id="channel-header">  
        <h2>Create a Channel</h2>
    <button id="close-button">&times;</button>
</div>
  
<p>channels are where your team interact with eachother. best to a have subject- for example #marketing</p>

<form id="new-channel" action="">
    
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="channel-name" required maxlength="80" >
    </div>
    <div class="form-group">
      <label for="">Description(Optional)</label>
      <input type="text" class="form-control" id="channel-des">
    </div>
    <button style="float: right;" type="submit" class="btn btn-default">Create</button>
</form>

</div>
</div>
<!-- get username -->
<script type="text/javascript">
const username=`{{name|e}}`; 
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
<script src="{{url_for('static',filename='javascript/index.js')}} " ></script>
{%endblock%}