{%extends "layout.html"%}

{%block title%}
{{name}}
{%endblock%}

{%block body%}
<div class="container row">
<div class="col-xs-4 col-sm-3 col-lg-3 ">
<div class="first-row">
<nav>
<div id="top">
<h4>{{name|title}}</h4>
</div> 

<div id="middle">
    <ul>
        <li><i class="fa fa-address-book-o" aria-hidden="true"></i> People <a id="add" href=""><span>+</span> add</a></li>
        <li><i class="fa fa-files-o" aria-hidden="true"></i> Files</li>
        <li><i class="fa fa-align-justify" aria-hidden="true"></i> Drafts</li>
        <li><i class="fa fa-th" aria-hidden="true"></i> Apps</li>

    </ul>
</div>
<div id="bottom">
    <ul id="bt-list">
        <li><i id="triangle" class="fas fa-triangle"></i></li>

        <li>channels</li>
        
        <li id="modal-button"><button><i class="fas fa-plus"></i></button></li>
       
    </ul>
    
<ul id="channel-list"></ul>
   
 
</div>
</nav>
    </div>

</div>



<div id="chat" class="chat-room col-xs-8 col-sm-9 col-lg-9">
    <div id="chat-tag">

        
    </div>
    <div id="message-container">
         

    </div>
    
   
   <div id="userstatus">
       
   </div>
   <div class="form-format">
     <input class="form-control"type="text" id="message-input" placeholder="type your message here" >  
     <button  type="button" id="send-button"><i class="fa fa-paper-plane " aria-hidden="true"></i> </button>   
</div>
</div>

</div>

<div class="modal-bg">
    <div class="modal-child">
        <button class="create-modal">Browse Channel</button>
        <button class="create-modal" id="create-channel">create a channel</button>
    </div>
    </div>  

  <div class="channel-overlay channel-active">  
<div class="container channel-modal">
    <div id="channel-header">  
        <h2>Create a Channel</h2>
    <button id="close-button">&times;</button>
</div>
  
<p>channels are where your team interact with eachother. best to a have subject- for example #marketing</p>

<form id="new-channel" action="">
    
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="channel-name" required maxlength="80" >
    </div>
    <div class="form-group">
      <label for="">Description(Optional)</label>
      <input type="text" class="form-control" id="channel-des">
    </div>
    <button style="float: right;" type="submit" class="btn btn-default">Create</button>
</form>

</div>
</div>
<!-- get username -->
<script type="text/javascript">
const username=`{{name|e}}`; 
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
<script src="{{url_for('static',filename='javascript/index.js')}} " ></script>
{%endblock%}