{%extends "layout.html"%}

{%block body%}

<div class="cont">
    <h1 class="logo"><span><i class="fas fa-flask" style="color:white;"></i></span>LACK</h1>
    <div>
    <h1>Want to Keep Up with your team?</h1>
    <h4>Create a user name to get started</h4>
    <div class="a">
    <a id="btn" href="{{url_for('create')}}"><i class="fas fa-plus"></i> Create a buddy room</a>
    <small class="small-login">Do you have an ID already? <a href="{{url_for('login')}}">+ Sign in</a></small>
</div>

</div>
</div>

{%endblock%}