{%extends "layout.html"%}

{%block body%}
<div class="login-container">
   
    <h3>Login to your space</h3>
    <div class="content-section">
    <form method="POST" action="">
        {{form.hidden_tag()}}
       <div class="form-group">
           {{form.name.label(class="form-control-label")}}
            {%if form.name.errors%}
            {{form.name(class="form-control form-control-lg is-invalid" ,id="form_name")}}
            <div class="invalid-feedback">
                {%for error in form.name.errors%}
                  <span>{{error}}</span>
                {%endfor%}
             </div>
            {%else%}
           {{form.name(class="form-control form-control-lg" ,id="form_name")}}
           {%endif%}
       </div>  
       <small>    
    <div class="form-group">
       {{form.submit(class="btn btn-outline-info")}}
    </div> 
       </form>
       </div>
</div>



{%endblock%}